{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta name="msapplication-tap-highlight" content="no">  
    <link href="{% static 'img/dl.ico' %}" rel="icon">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <title>Distribuidora Luresa</title>
</head>
<body>
    {% block content  %}
    {% endblock %}
</body>
</html>